/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    withName: SCVITOOLS_SCVI {
        ext.max_epochs = 5
    }

    withName: LIANA_RANKAGGREGATE {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'ignore' : 'finish' }
    }

    resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '1.h'
    ]
}
