process {
    withName: MYGENE {
        ext.prefix     = { meta.id + '_mygene' }
        ext.input_col  = { meta.geneid_col }
        ext.output_col = { 'symbols' }
    }

    withName: SET_INDEX {
        ext.axis   = 'var'
        ext.column = { meta.symbol_col }
    }

    withName: HUGOUNIFIER_APPLY {
        ext.prefix = { meta.id + '_hugounifier' }
    }

    withName: ADATA_UNIFY {
        ext.prefix                   = { meta.id + '_unified' }
        ext.symbol_col               = { meta.symbol_col }
        ext.geneid_col               = { meta.geneid_col }
        ext.counts_layer             = { meta.counts_layer }
        ext.duplicate_var_resolution = { params.duplicate_var_resolution }
        ext.batch_col                = { meta.batch_col }
        ext.label_col                = { meta.label_col }
        ext.unknown_label            = { meta.unknown_label }
    }
}
